*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;    
    /*COLOR VARIABLES*/
    --color-primary: #5680f9;
    --color-primary-dark: #374786;
    --color-primary-light-1: #7799fa;
    --color-primary-light-2: #99b3fb;
    --color-secondary: #6f5ee3;
    --color-red: #eb5858;
    --color-white: #fff;
    --color-light-blue: #f4f7fc;
    --color-grey-light-1: #f6f6f6;
    --color-grey-light-2: #dfdfdf;
    --color-grey-dark-1: #24305e;
    --color-grey-dark-2: #141827;
    --color-shadow-color: #e1e3eb;
    --color-green: #6ec553;
    /* FONT VARIABLES*/
    --font-primary: 'Lato', sans-serif;
    --font-color-black: #131313;
    --font-color-grey: #a3a3a3;
    --font-color-white: #ffffff;
    --font-color-primary: #5680f9;
    
    /* Breakpoints */
    --bp-largest: 73em;
   
}

.info-personal__title {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 1rem 0px 1rem 1.8rem;
    /*border-bottom: solid 2px rgba(0, 0, 0, .1);*/
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}

.info-personal__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    align-items: start;
    justify-items: center;
    padding: 1rem 1rem 1rem 1rem;
}


.info-personal__form__item {
    display: grid;
    grid-template-columns: min-content;
}

.info-personal__form__item>input {
    width: 20rem;
}

.ficha-a {
    background-color: var(--color-white);
    font-weight: 400;
    /*padding: 3rem 3rem;*/
    box-shadow: 0px 3px 5px var(--color-shadow-color);
    border-top: solid 5px var(--color-primary);
}

.ficha-a__title {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 3rem;
    padding: 1rem 0px 1rem 1.8rem;
    /*border-bottom: solid 2px rgba(0, 0, 0, .1);*/
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}

.ficha-a__antecedentes {
    padding-bottom: 4rem;
    border-bottom: solid 2px rgba(0, 0, 0, 0.08);
}

.ficha-a__antecedentes__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    align-items: start;
    justify-items: center;
    padding: 2rem 3rem 2rem 3rem;
}

.ficha-a__antecedentes__form__item {
    display: grid;
    grid-template-columns: min-content;
}

.ficha-a__antecedentes__form__item>input, .ficha-a__antecedentes__form__item>select {
    width: 20rem;
}

.ficha-a__datos-medicos {
    border-bottom: solid 2px rgba(0, 0, 0, 0.08);
    padding: 4rem 3rem 4rem 3rem;
}

.ficha-a__datos-medicos__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2rem;
    align-items: start;
    justify-items: stretch;
}


.lista-interactiva {
    display: grid;
    /*padding: 20px;*/
    background-color: var(--color-white);
    box-shadow: 0px 5px 5px var(--color-grey-light-1);
    border-radius: 1rem;
    border: 2px solid var(--color-grey-light-1);
}

.lista-interactiva__title {
    padding: 1rem 0px 1rem 0px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px;
    border-bottom: 1.5px solid rgba(0, 0, 0, .1);
}

.lista-interactiva__select {
    margin-top: 1rem;
    margin-bottom: 2rem;
    justify-self: center;
    justify-content: center;
    text-align: center;
}

.lista-interactiva__select>select {
    width: 17rem;
    padding: 3px;
    justify-self: center;
}

.lista-interactiva__lista {
    padding: 1rem 2rem 0px 2rem;
    list-style: none;
    text-align: left;
}

.lista-interactiva__lista__li {
    display: grid;
    font-size: 1.4rem;
    grid-template-columns: 90% 1fr;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .15)
}

.ficha-a__medDrogas {
    display: grid;
    border-bottom: solid 2px rgba(0, 0, 0, 0.08);
    padding: 4rem 3rem 4rem 3rem;
}

.ficha-a__medDrogas__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2rem;
    align-items: start;
}

.ficha-a__medDrogas__form__item {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 1rem;
    box-shadow: 0px 5px 5px var(--color-grey-light-1);
    border-radius: 1rem;
    border: 2px solid var(--color-grey-light-1);
}

.ficha-a__medDrogas__form__item__title {
    justify-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
}

.ficha-a__medDrogas__form__item__input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.ficha-a__medDrogas__form__item__input input {
    justify-self: end;
}

.ficha-a__medDrogas__form__item__input input[type=text] {
    width: 100%;
}

.ficha-a__medDrogas__form__item__title {
    justify-self: center;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.ficha-a__medDrogas__form__item__lista-drogas__select {
    text-align: center;
}

.ficha-a__medDrogas__form__item__lista-drogas__select>select {
    width: 17rem;
    padding: 3px;
}


.ficha-a__antecedentes-obstetricos {
    display: grid;
    border-bottom: solid 2px rgba(0, 0, 0, 0.08);
    padding-bottom: 2rem;
}

.ficha-a__antecedentes-obstetricos__title {
    grid-column: 1/-1;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 3rem;
    padding: 2rem 0px 2rem 1.8rem;
    /* border-bottom: solid 2px rgba(0, 0, 0, .1); */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.ficha-a__antecedentes-obstetricos__form {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 3rem 2rem 3rem;
}

.ficha-a__antecedentes-obstetricos__form__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    height: fit-content;
    box-shadow: 0px 5px 5px var(--color-grey-light-1);
    border-radius: 1rem;
    border: 2px solid var(--color-grey-light-1);
    padding: 2rem;
}

.ficha-a__antecedentes-obstetricos__form__item__title {
    font-size: 1.4rem;
    justify-self: center;
}

.ficha-a__antecedentes-obstetricos__form__item__input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.ficha-a__antecedentes-obstetricos__form__item__input>input {
    justify-self: end;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico {
    grid-row: 3/4;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    box-shadow: 0px 5px 2px var(--color-grey-light-1);
    border-radius: 1rem;
    border: 2px solid var(--color-grey-light-1);
    overflow: hidden;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico__title {
    font-size: 1.4rem;
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
    grid-column: 1/-1;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico__seccion-input {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico__input {
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: 1fr 1fr;
    text-align: center;
    justify-items: center;
    justify-content: center;
    /*padding: 0rem 1.5rem 0rem 1.5rem;*/
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico__input>input {
    width: 2rem;
    height: 100%;
}

#ppr, #pter {
    background-color: var(--color-grey-light-1);
    justify-self: center;
    min-width: 5rem;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional {
    grid-column: 1/-1;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    background-color: var(--color-grey-light-1);
    color: var(--font-color-black);
    /*color: rgba(0, 0, 0, .4)*/
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional--inactive {
    color: var(--font-color-grey);
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__input {
    display: grid;
    text-align: center;
    justify-items: center;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional>.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__input:not(:first-child) {
    background-color: var(--color-white);
    margin-top: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    z-index: 1;
    width: max-content;
    justify-self: center;
}


#rn-mayor-peso {
    grid-column: 1/-1;
}

/*.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__input input[type=text] {
    height: 3rem;
}*/

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__input input[type=checkbox] {
    height: 1.5rem;
    width: 100%;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__causa {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr;
    background-color: var(--color-white);
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__causa__title {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 0px;
    /*border-bottom: 1px solid rgba(0, 0, 0, .15);*/
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__causa__input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__causa__input input {
    justify-self: center;
}


/* ---------- Antecedentes Embarazo Actual ---------- */

.ficha-a__antecedentes-embarazo-actual {
    display: grid;
    padding-bottom: 2rem;
}

.ficha-a__antecedentes-embarazo-actual__title {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 3rem;
    padding: 2rem 0px 2rem 1.8rem;
    /* border-bottom: solid 2px rgba(0, 0, 0, .1); */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.ficha-a__antecedentes-embarazo-actual__form {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2rem;
    padding: 2rem 3rem 2rem 3rem;
}

.ficha-a__antecedentes-embarazo-actual__form__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    height: fit-content;
    box-shadow: 0px 5px 5px var(--color-grey-light-1);
    border-radius: 1rem;
    border: 2px solid var(--color-grey-light-1);
    padding: 2rem;
}

.ficha-a__antecedentes-embarazo-actual__form__item__title {
    font-size: 1.4rem;
    justify-self: center;
}

.ficha-a__antecedentes-embarazo-actual__form__item__input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.ficha-a__antecedentes-embarazo-actual__form__item__input--date {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.ficha-a__antecedentes-embarazo-actual__form__item--primera-ecografia {
    display: grid;
    gap: 2rem;
    background-color: var(--color-grey-light-1);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    padding: 1rem;
}

.ficha-a__antecedentes-embarazo-actual__form__item__input input {
    justify-self: end;
}

.ficha-a__antecedentes-embarazo-actual__form__item__input input[type=number] {
    width: 6rem;
}

.ficha-a__antecedentes-embarazo-actual__form__item__input input[type=date] {
    grid-row: 2/-1;
    grid-column: 1/-1;
}

.ficha-a__seccion-btn-global {
    border-top: 2px solid rgba(0, 0, 0, .1);
}


/* ---------- Botones ---------- */

.btn:link, .btn:visited, .btn {
    max-width: 50px;
    text-decoration: none;
    position: relative;
    color: white;
    padding: 5px 5px;
    transition: all .2s ease-out;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
}

.btn-azul {
    background-color: var(--color-primary);
    font-size: 1.2rem;
    padding: 4px 12px;
    border-radius: 5px;
}

.btn-rojo {
    background-color: var(--color-red);
}

.btn-eliminar-pat {
    font-weight: 900;
    height: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .13);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-eliminar-pat:hover {
    text-transform: capitalize;
    padding-left: 15px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
}

.btn-eliminar-pat:active {
    box-shadow: 0px 3.5px 2.5px rgba(0, 0, 0, .2);
}

.btn-añadir-a-lista:hover {
    transform: translate(0, -2px);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
}

.btn-añadir-a-lista:active {
    box-shadow: 0px 3.5px 2.5px rgba(0, 0, 0, .2);
}

.btn-ingresar-datos {
    background-color: var(--color-primary);
    color: var(--font-color-white);
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    width: max-content;
    margin: 2rem auto 2rem auto;
    border-radius: 1rem;
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
    transition: all .15s ease-out;
}

.btn-ingresar-datos:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, .2);
}

.btn-ingresar-datos:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
}

.ocultar{
   display: none;
}

input{
    border: 1px solid var(--font-color-grey);
    border-radius: 4px;
}

select{
    border: 1px solid var(--font-color-grey);
    border-radius: 4px;
}

textarea{
    border: 1px solid var(--font-color-grey);
    border-radius: 4px;
}


*[data-tooltip] {
    position: relative;
}

*[data-tooltip]::after {
    content: attr(data-tooltip);

    position: absolute;
    top: -20px;
    right: -20px;
    width: 150px;

    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;

    display: block;
    font-size: 12px;
    line-height: 16px;
    background: #f6f6f6;
    padding: 2px 2px;
    border: 1px solid #c0c0c0;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

*[data-tooltip]:hover::after {
    opacity: 1;
}

.a{
    float: right;
}

.b{
    padding: 10px 10px 10px 10px;
}

.date{
    width:100px;  
    height: 5px;  
}